* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #20232a;
    height: 100vh;
}
button {
    background-color: rgb(0, 0, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 16px;
    font-size: 20px;
    color: white;
    border: none;
}
button:hover {
    background-color: #0a0acd
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.mainTitle {
    text-align: center;
    color: white;
}
ul li {
    color: white;
}
p {
    color: white;
}
